    $primarycolor: black;
    $secondarycolor: rgb(238, 43, 46);
    $popcorn: rgb(255, 250, 233);
    body {
        background-color: $primarycolor;
        font-family: 'Permanent Marker', cursive;
        nav {
            height: 150px;
            background-color: $primarycolor;
            font-size: 1em;
            #titres {
                color: $popcorn;
                z-index: 5;
                text-align: left;
                h1 {
                    font-size: 4em;
                    text-shadow: 1px 2px 2px grey;
                }
            }
            input {
                height: 50px;
                background-color: transparent;
                width: 70%;
                border: 2px solid $secondarycolor;
                border-radius: 5px;
            }
            i {
                color: $secondarycolor;
                font-size: 2.5em;
            }
            input::placeholder {
                color: $secondarycolor;
                opacity: 0.5;
            }
            .navbar-toggler-icon {
                background-image: url("https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png");
                color: $secondarycolor;
                background-color: $popcorn;
            }
            a {
                color: $secondarycolor;
                font-weight: 500;
            }
            a:hover {
                color: $secondarycolor;
                opacity: 0.5;
                background-color: transparent;
            }
        }
        #header {
            margin-top: 160px;
            #rowtitre {
                #titres {
                    color: $popcorn;
                    z-index: 5;
                    text-align: center;
                    h2 {
                        font-size: 1.5em;
                        text-shadow: 1px 2px 2px black;
                    }
                }
            }
            .carousel-indicators {
                //margin-bottom: 15px;
                color: $secondarycolor;
            }
            .carousel-inner {
                .carousel-item {
                    height: 500px;
                    position: relative;
                    .carousel-caption {
                        background-color: rgba(0, 0, 0, 0.5);
                        color: $popcorn;
                        text-shadow: 1px 2px 2px black;
                        font-size: 1.5em;
                        h3 {
                            font-size: 2.5em;
                        }
                    }
                }
            }
        }

#main{ 
    h2 {
        text-align: center;
    }
    #titleconnect {
        padding-top: 100px;
    }
    button{
        margin-top: 10px;
        border-radius: 5px;
        background-color: $secondarycolor;
        border: none; 
    }
    color: $secondarycolor;
    input{
    background-color: transparent;
    border-color: $secondarycolor; 
    } 
    input::placeholder {
        color: $secondarycolor;
        opacity: 0.5;
    }
    input {
         :hover {
            background-color: transparent;
            border: none;
        }
        input {
             :active {
                color: $secondarycolor;
            }
        }
    }
}
        footer {
            background-image: url(public/images/footerimg.png);

                background-color: $primarycolor;
                color: $secondarycolor;
                padding: 1em;
            }
            #footer-title {
                background-color: $secondarycolor;
                color: $primarycolor;
                text-align: center;
                margin-top: -20px;
                font-size: 1em;
            }
            input::placeholder {
                color: grey;
                opacity: 0.5;
            }
            input {
                 :hover {
                    background-color: transparent;
                    border: none;
                }
                input {
                     :active {
                        color: $secondarycolor;
                    }
                }
            }
            #newsletter {
                border: 2px solid $secondarycolor;
                border-radius: 5px;
                padding: 5px;
                width: 80%;
                height: 50px;
                background-color: transparent;
                font-size: 1.5em;
            }
            #btnnews {
                background-color: transparent;
                color: $secondarycolor;
                border-color: transparent;
                font-size: 3em;
            }
            li {
                list-style: none;
                font-size: 3em;
                display: inline;
                margin: 5px;
                i {
                    color: grey;
                }
            }
            a {
                color: $secondarycolor;
            }
            a:hover {
                color: $secondarycolor;
                text-transform: none;
            }
            h2 {
                color: $secondarycolor;
            }
        }
    }