
{% extends "modelspages/index.html.twig" %}

{% block header %}
{% endblock %}

{% block main %}

<p>Bonne visite sur notre site!</p>
<p>L’utilisateur est responsable des commentaires et critiques qu’il adresse au site. Merci de ne pas adresser de propos à caractère raciste, xénophobe, antisémite, homophobe, négationniste, pornographique, pédophile, pédopornographique, zoophile… de propos injurieux, irrespectueux, vulgaires,
    agressifs, diffamatoires, ou portant atteinte à la vie privée, et plus généralement aux droits de la personnalité de quiconque de propos portant atteinte à la dignité humaine, à l’usurpation d’identité de propos incitant à la violence, meurtre, viol,
    au suicide, au terrorisme, à la prostitution, à l’utilisation, la fabrication ou la distribution de substances illicites… de propos incitant à la commission de crimes ou de délits ou qui en font l’apologie et plus particulièrement les crimes contre
    l’humanité de contenus violant les droits de respect de la vie privée, de propriété intellectuelle de tiers (notamment articles, ouvrages), pour lesquels il ne dispose pas des autorisations nécessaires des auteurs et/ou ayants droit et en faisant
    l’apologie du piratage, peer-to-peer, streaming, torrents ou lien/url de téléchargement de contenus faisant la promotion de services à but lucratif</p>
    <p>Pour les critiques plus particulièrement, l’utilisateur veille à ce que ses critiques ne comportent
    pas de spoilers</p>
    <p>L'équipe CafeLatte sera libre de supprimer tout commentaire ou critique comportant des propos violant des dispositions légales ou réglementaires, ou contraires à la présente charte. Cette possibilité n'est pas exclusive de la possibilité prévue
    à l'article précédent de suspendre ou supprimer le compte de l’utilisateur, le cas échéant.</p>
    <p>CafeLatte veille au respect des erreurs d’expression (orthographe, typographie…) mais ne peut tout rectifier. Les réactions entièrement formulées en lettres capitales (majuscules) ou dont le sens est rendu incertain
    par des abréviations ou des erreurs de langage (orthographe, vocabulaire, syntaxe, grammaire, message vide ou illisible, langage SMS) ne seront pas retenues. CafeLatte se réserve la possibilité d’interrompre un débat qui deviendrait redondant ou qui
    serait investi par un flux de militants pour quelque cause que ce soit en supprimant l’accès à ses services (prosélytisme religieux, secte, attaque d’une religion…).</p>

    {% endblock %}
