{% extends "modelspages/index.html.twig" %}

{% block header %}
{% endblock %}

{% block main %}

  <div class="container">
      <div class="row">
          <h2>INSCRIVEZ-VOUS</h2>
          <div class="col-12"></div>
          <ul>En créant votre espace personnel, vous pourrez :</ul>
          <!-- <li>commenter les films</li> -->
          <li>soumettre des films</li>
          <!--<li>créer une liste de favoris</li>-->
          <!--<li>donner des notes</li>-->
      </div>

  <form method="post" action="">
      <div class="row">
          <div class="col-6">
              <label for="pseudo" placeholder="Pseudo">Pseudo :</label><br>
              <input type="text" name="pseudo" value="{%if pseudo is defined%} {{ pseudo }} {%endif%}">
          </div>
          <div class="col-6">

          </div>
      </div>

      <div class="row">
          <div class="col-6">
              <label for="email">Email :</label><br>
              <input type="email" name="mail1" value="{%if email is defined%} {{ email }} {%endif%}">
          </div>
          <div class="col-6">
              <label for="email">Confirmez votre email :</label><br>
              <input type="email" name="mail2">
          </div>
      </div>
      <div class=row>
          <div class="col-6">
              <label for="password">Mot de passe :</label><br>
              <input type="password" name="mdp1">
          </div>
          <div class="col-6">
              <label for="password">Confirmez votre mot de passe :</label><br>
              <input type="password" name="mdp2">
          </div>
      </div>
      <button type="submit" value="submit">Soumettre</button>
  </form>

  {% if erreur is defined %} {{erreur}} {% endif %}

  </div>
  {% endblock %}
