{% extends "modelspages/index.html.twig" %} {% block header %} {% endblock %} {% block main %}

<h4>Mentions légales du site cinéVore</h4>


    <p>CaféLatte <br>10 rue Pablo Picasso <br>25000 BESANCON <br>06 54 81 98 48 <br>cafelatte@gmail.com </p>

    <p>Directeur/trice de publication : <br>Boilley Adrien <br>Remy Marie-ange <br>Soavolory Sandra</p>



    <p>Hébergeur : promo-27</p>


{% endblock %}